body {
  font-family: 'Inter', sans-serif;
  color: #FFF;
}

h1 {
  font-size: 80px;
  line-height: 100px;
  padding-top: 5px;
  margin-bottom: 0px;
  text-align: right;
}

h2 {
  font-weight: 600;
  line-height: 20px;
  display: inline;
}

p {
  display: inline;
}

ul {
  list-style-type: none;
  line-height: 1.5;
  margin: 0 auto;
} 

/* li {
  text-align: center;
} */

hr {
  margin-top: 0;
}

#footer {
  color: #000;
}

#icon {
  position: relative;
  right: 10px;
}

.app-wrapper .active {
  font-weight: bold;
}

.searchRow {
  padding-top: 5px;
  padding-left: 5px;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
}
.app-wrapper {
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
  border-radius: 5px;
  padding: 0 10px 15px 0;
  
}

.current-weather {
  justify-content: center;
}

.units {
  font-size: 10px;
  position: relative;
  top: 20px;
  right: 15px;
}  

.unit-links {
  color: #fff;
  cursor: default;
  text-decoration: none;
  justify-content: center;
}

.text {
  font-size: 1.5 em;
  padding-bottom: 5px;
  padding-left: 0px;
  text-align: center;
}

.high-temp {
  font-weight: bold;
}

.low-temp {
  opacity: .7;
}
.weather-description {
  justify-content: center;
}

.written-description {
  font-size: 12px;
  position: relative;
  bottom: 10px;
}
.weather-metrics {
 padding-top: 30px;
 padding-bottom: 20px;
} 

.forecast {
  text-align: center;
}
.forecast-icons {
  font-size: 1em;
}

.temp-info {
  position: relative;
  top: 15px;
}

.units-info {
  position: relative;
  top: 15px;
}