body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f8ff;
  color: 	#FFF;
}

h1 {
  font-size: 80px;
  line-height: 100px;
  padding-top: 5px;
  margin-bottom: 0px;
  text-align: right;
}

h2 {
  font-weight: 900;
  line-height: 20px;
  display: inline;
}

p {
  display: inline;
}

ul {
  list-style-type: none;
  line-height: 1.5;
  margin: 0 auto;
} 

/* li {
  text-align: center;
} */

hr {
  margin: 0 auto;
  width: 80%;
}

#footer {
  color: #000;
}

#icon {
  position: relative;
  right: 10px;
  top: 10px;
}

.app-wrapper .active {
  font-weight: bold;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
}
.app-wrapper {
  background: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);
  border-radius: 5px;
  padding: 0 10px 25px 0;
  box-shadow: 10px 5px 25px gray;
}

.searchRow {
  padding-top: 5px;
  padding-left: 5px;
}

.btn-light{
  background-color:#FFF;
  border-radius: 100%;
}

.btn-light:hover {
  opacity: .9;
  box-shadow: 2px 2px 10px black;
}

#currentLocationButton {
  text-decoration: none;
  position: relative;
  top: 5px;
  left: 10px;
  color: #FFF;
  font-weight: bold;
}

#currentLocationButton:hover {
  text-decoration: underline;
}

.current-weather {
  justify-content: center;
}

.weather-list {
  text-align: center;
}

.written-description {
  font-size: 12px;
  position: relative;
  left: 10px;
} 

.units {
  font-size: 10px;
  position: relative;
  top: 20px;
  right: 15px;
}  
/* 
.unit-links {
  color: #000;
  cursor: default;
  text-decoration: none;
  justify-content: center;
} */

.text {
  font-size: 1em;
  padding-bottom: 5px;
  padding-left: 0px;
  text-align: center;
}

.high-temp {
  font-weight: bold;
}

.low-temp {
  opacity: .7;
}
/* .weather-description {
  justify-content: center;
} */

.weather-metrics {
 padding-top: 30px;
 padding-bottom: 20px;
} 

.forecast {
  text-align: center;
  padding-top: 15px;
}

.weather-forecast-temperatures {
  text-align: right;
}

.forecast-icons {
  font-size: 1em;
}

.temp-info {
  position: relative;
  top: 15px;
}

.units-info {
  position: relative;
  top: 15px;
}